h1{
    text-align: center;
}

.carrito{
    text-align: right;
}


.articulos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: 80px;
    margin-right: 80px;
}


.articulos :hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.espacio-prod{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.espacio-prod > img {
    width: 100%;
    border-radius: 20px;
    /*height: 250px;*/
}

.precio {
    color: grey;
    font-size: 22px;
}

.espacio-prod button{
    width: 100%;
    padding: 12px;
    height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: white;
    background-color: black;
    border: 1px solid #cce7d0;
    text-align: center;
    cursor: pointer;
}


.modal-container{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: white;
    background-color: black;
    flex-direction: column;
    align-items: center;

    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}



.modal-container::-webkit-scrollbar{
    display: none;
}


.modal-header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    width: 100%;
}

.modal-header-title{
    justify-self: start;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.modal-header-button{
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;


}


.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}


.delete-product {
    cursor: pointer;
}



@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=League+Spartan:wght@200&family=Lora&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}


p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.presentacion {
    padding: 40px 80px;
}


body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
    display: flex;  
    align-items: center;
    justify-content: center;
}

#titulo {
    text-align: center;
}





/* MEDIA QUERY */

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }
    #header{
        padding: 10px 30px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    .espacio-prod{
        width: 100%;
    }
}




